.block{
    background: #cdcdcd;

}
.box1{
    background: yellow;
}
.box2{
    background: rgb(77, 12, 142);
}
.box3{
    background: blue;
}
.g-linen{
    height: 100px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(11, 22, 175);
    color: white;
  }